<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserDao">

    <select id="getPhoneNumber" resultType="integer" parameterType="string">


        select isnull((select user_phone from `user` where user_phone = #{phoneNumber} ))
    </select>

    <insert id="insertPhoneTokenUuid">

        insert into `user` (user_id,user_phone,user_token,user_name,user_register_time,user_role,user_password,user_balance,user_art_coin) values (#{uuid},#{phoneNumber},#{token},#{username},#{registerTime},"未知","","0","0")
    </insert>

    <select id="getTokenByPhoneNumber" parameterType="string" resultType="string">
        select user_token from `user` where user_phone = #{phoneNumber}
    </select>


    <resultMap id="userMap" type="entity.User">
        <id column="user_id" property="user_id" />
        <result column="user_name" property="user_name"/>
        <result column="user_icon" property="user_icon"/>
        <result column="user_birth" property="user_birth"/>
        <result column="user_sex" property="user_sex"/>
        <result column="user_signal" property="user_signal"/>
        <result column="user_password" property="user_password"/>
        <result column="user_address" property="user_address"/>
        <result column="user_token" property="user_token"/>
        <result column="user_phone" property="user_phone"/>
        <result column="user_balance" property="user_balance"/>
        <result column="user_art_coin" property="user_art_coin"/>
        <result column="user_role" property="user_role"/>
        <result column="user_register_time" property="user_register_time"/>
    </resultMap>
    <select id="getUserInfo" parameterType="string" resultMap="userMap">
        select user_id,user_name,user_icon,user_birth,user_sex,user_signal,user_password,user_address,user_token,user_phone,user_balance,user_art_coin,user_role,user_register_time
        from `user`
        where user_id = #{userId}
    </select>


    <select id="getUserInfoByQQ" parameterType="string" resultMap="userMap">
        select user_id,user_name,user_icon,user_birth,user_sex,user_signal,user_password,user_address,user_token,user_phone,user_balance,user_art_coin,user_role,user_register_time
        from `user`
        where tencent_token = #{accessToken}
    </select>
    <select id="getTokenByUid" resultType="string">
        select user_token from `user` where user_id = #{userId}
    </select>


    <update id="updateUserInfo" parameterType="entity.User">
        update `user` set
        user_name = #{username},
        user_sex = #{userSex},
        user_birth = #{userBirth},
        user_phone = #{userPhone},
        user_signal = #{userSignal},
        user_address = #{userAddress}
        where user_id = #{userId}
    </update>

    <update id="updateUserIcon" parameterType="string">
        update `user` set user_icon = #{userIcon} where user_id = #{userId}
    </update>

    <insert id="insertQQRegister">
        insert into `user` (user_id,user_name,user_icon,user_sex,user_token,user_register_time,tencent_token,user_role,user_password,user_phone,user_balance,user_art_coin)
        values (#{uuid} ,#{userName} ,#{userIcon} ,#{sex} ,#{token} ,#{registerTime} ,#{tencentToken} ,"未知","",#{phone},"0","0")
    </insert>

    <insert id="insertWeChatRegister">
        insert into `user` (user_id,user_name,user_icon,user_sex,user_token,user_register_time,tencent_token,user_role,user_password,user_address,user_phone,user_balance,user_art_coin)
        values (#{uuid} ,#{userName} ,#{userIcon} ,#{sex} ,#{token} ,#{registerTime} ,#{tencentToken} ,"未知","",#{location},#{phone},"0","0")
    </insert>

    <update id="updatePhoneNumber" parameterType="string">

        update `user` set
        user_phone = #{phoneNumber}
        where user_id = #{userId}

    </update>

    <select id="getUserIdByPhoneNumber" parameterType="string" resultType="string">
        select user_id from `user` where user_phone = #{phoneNumber}
    </select>

    <update id="insertPassword" parameterType="string">
        update `user` set
        user_password = #{password}
        where user_id = #{uuid}
    </update>

    <select id="getPasswordByPhoneNumber" resultType="string">
        select user_password from `user` where user_phone = #{phoneNumber}
    </select>

    <update id="updateToken" parameterType="string">
        update `user` set user_token = #{token} where user_id = #{uuid}
    </update>


    <insert id="insertFalseUser">
        insert into `user` (user_id,user_name,user_sex,user_password,user_token,user_register_time,user_phone,user_role,user_balance,user_art_coin)
        values (#{uuid} ,#{userName},"0","7cf28171508943deefee4b3da7f41923",#{token},#{registerTime},#{phone},"注册","0","0")
    </insert>

    <select id="getTokenByAccessToken" resultType="string">
        select user_token from `user` where tencent_token = #{accessToken}
    </select>
</mapper>